<div class="cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-template="badge" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" >
	<div class="title #hide_name#">
		<div class="cmdName">#name_display#</div>
	</div>
	<div class="content">
		<div class="label label-info state">
			<span class="value"></span>
		</div>
	</div>
	<div class="timeCmd label label-default #history#>" data-type="info"></div>
	<div class="cmdStats #hide_history#">
			<span title="{{Minimum}}" class="tooltips">#minHistoryValue#</span>|<span
				title="{{Moyenne}}"
				class="tooltips"
				>#averageHistoryValue#</span
			>|<span title="{{Maximum}}" class="tooltips">#maxHistoryValue#</span>
			<i class="#tendance#"></i>
	</div>
	<template>
		<div>color : rgb(20,20,20) ({{Couleur de fond}})</div>
		<div>fontcolor : rgb(20,20,20) ({{Couleur du texte}})</div>
	</template>
	<script>
		jeedom.cmd.addUpdateFunction("#id#", function (_options) {
			let cmd = null
			if (is_object(cmd = document.querySelector('.cmd[data-cmd_id="#id#"]'))) {
				cmd.querySelector('.content').setAttribute('title', '{{Date de valeur}}: ' + _options.valueDate + '<br>{{Date de collecte}}: ' + _options.collectDate)
			}
			let txt = "";
			let heures = Math.trunc(_options.value / 60);
			let minutes = _options.value % 60;
			let jours = Math.trunc(heures / 24);
			heures = heures % 24;
			if (jours == 0 && heures == 0) {
				txt = minutes.toString() + " min.";
			} else {
				txt = minutes.toString();
				if (minutes < 10) {
					txt = "0" + txt;
				}
				txt = heures + ":" + txt;
				if (jours > 0) {
					if (heures < 10) {
						txt = "0" + txt;
					}
					txt = jours.toString() + "{{j}} " + txt;
				}
			}
			console.log(cmd)
			cmd.querySelector('.value').innerHTML = txt
		})
		jeedom.cmd.refreshValue([
			{
				cmd_id: "#id#",
				value: "#value#",
				valueDate: "#valueDate#",
				collectDate: "#collectDate#",
				alertLevel: "#alertLevel#",
				unit: "#unite#",
			},
		]);

		if (domUtils.issetWidgetOptParam("#color#", "color")) {
			document.querySelector(".cmd[data-cmd_uid=#uid#] .label").style.setProperty(
				"background-color",
				"#color#",
				"important",
			);
		}
		if (domUtils.issetWidgetOptParam("#fontcolor#", "fontcolor")) {
			document.querySelector(".cmd[data-cmd_uid=#uid#] .label").style.setProperty(
				"color",
				"#fontcolor#",
				"important",
			);
		}
	</script>
</div>

<!--
vim: tabstop=2 autoindent
-->
