<div
	class="cmd cmd-widget"
	data-type="action"
	data-subtype="slider"
	data-template="j_h_m"
	data-cmd_id="#id#"
	data-cmd_uid="#uid#"
	data-version="#version#"
	data-eqLogic_id="#eqLogic_id#"
>
	<link rel="stylesheet" href="plugins/devolo_cpl/core/template/dashboard/cmd.action.slider.j_h_m/modal.css">
	<div class="title #hide_name#">
		<div class="cmdName">#name_display#</div>
	</div>
	<div class="content-xs">
		<a class="btn btn-sm btn-default execute tooltips"></a>
	</div>
	<template></template>
	<script>

		document.querySelector('.cmd[data-cmd_uid=#uid#] .execute').addEventListener('click',function(event) {
			let cmd = event.target.closest('.cmd[data-cmd_uid]')
			jeeDialog.dialog({
				id: "GuestTimeInput",
				title: "#modalTimeWifiGuestTitel#",
				width: "400px",
				height: "320px",
				contentUrl: "index.php?v=d&plugin=devolo_cpl&modal=cmd.action.slider.j_h_m",
				callback: function() {
					jeedomUtils.initSpinners()
					let value = cmd.querySelector('a.btn').dataset.value
					devolo_cplActionJHM_modal.setValue(value)
				},
				buttons: {
					cancel: {
						callback: {
							click: function() {
								document.getElementById('GuestTimeInput')._jeeDialog.close()
								document.getElementById('GuestTimeInput')._jeeDialog.destroy()
							}
						}
					},
					confirm: {
						callback: {
							click: function() {
								let value = devolo_cplActionJHM_modal.getValue()
								document.getElementById('GuestTimeInput')._jeeDialog.close()
								document.getElementById('GuestTimeInput')._jeeDialog.destroy()
								console.log(cmd)
								console.log(cmd.dataset.cmd_id)
								jeedom.cmd.execute({id: cmd.dataset.cmd_id, value: {slider: value}})
							}
						}
					}
				},
			})
		})

		jeedom.cmd.addUpdateFunction('#id#', function(_options) {
			console.log(_options)
			if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
				let jours = Math.trunc(_options.display_value / (24*60))
        let value = _options.display_value % (24*60)
        let heures = Math.trunc(value / 60)
        let minutes = value % 60
				let txt = ''
				if (jours > 0) {txt = jours + 'J '}
				if (heures < 10) { txt += '0' }
				txt += heures + ":"
				if (minutes < 10) { txt += '0' }
				txt += minutes
				cmd.querySelector('a.execute').innerText = txt
				cmd.querySelector('a.execute').dataset.value = _options.display_value
			}
		})

		jeedom.cmd.refreshValue([{ cmd_id: '#id#', display_value: '#state#', XXXx: "XXXX" }])
	</script>
</div>
<!--
vim: tabstop=2 autoindent
-->
