<div
	class="cmd cmd-widget reportModeHidden"
	data-type="action"
	data-subtype="slider"
	data-template="j_h_m"
	data-cmd_id="#id#"
	data-cmd_uid="#uid#"
	data-version="#version#"
	data-eqLogic_id="#eqLogic_id#"
>
	<link rel="stylesheet" href="plugins/devolo_cpl/core/template/dashboard/cmd.action.slider.j_h_m/modal.css">
	<div class="title #hide_name#">
		<div class="cmdName">#name_display#</div>
	</div>
	<div class="content-xs">
		<a class="btn btn-sm btn-default execute tooltips"></a>
	</div>
	<template></template>
	<script>

		document.querySelector('.cmd[data-cmd_uid=#uid#] .execute').addEventListener('click',function(event) {
			cmd = document.querySelector('.cmd[data-cmd_uid=#uid#]')
			inputModal_#uid#(cmd)
		})


		function setDisplayValue_#uid# (value){
			let cmd = document.querySelector('.cmd[data-cmd_uid=#uid#]')
			let txt = ""
			let heures = Math.trunc(value / 60)
			let minutes = value % 60
			let jours = Math.trunc(heures / 24)
			heures = heures % 24
			if (jours == 0 && heures == 0) {
				txt = minutes + " min."
			} else {
				txt = minutes
				if (minutes < 10) {
					txt = '0' + txt
				}
				txt = heures + ":" + txt
				if (jours > 0) {
					if (heures < 10) {
						txt = '0' + txt
					}
					txt = jours + '{{j}} ' + txt
				}
			}
			cmd.querySelector('a.btn').innerText = txt
			cmd.querySelector('a.btn').dataset.value = value
		}

		setDisplayValue_#uid#("#state#")

		function inputModal_#uid# () {
			let cmd = document.querySelector('.cmd[data-cmd_uid=#uid#]')
			jeeDialog.dialog({
				id: "GuestTimeInput",
				title: modalTimeWifiGuestTitel,
				width: "400px",
				height: "320px",
				contentUrl: "index.php?v=d&plugin=devolo_cpl&modal=cmd.action.slider.j_h_m",
				callback: function() {
					jeedomUtils.initSpinners()
					let value = cmd.querySelector('a.btn').dataset.value
					devolo_cplActionJHM_modal.setValue(value)
				},
				buttons: {
					cancel: {
						callback: {
							click: function() {
								document.getElementById('GuestTimeInput')._jeeDialog.close()
							}
						}
					},
					confirm: {
						callback: {
							click: function() {
								let value = devolo_cplActionJHM_modal.getValue()
								document.getElementById('GuestTimeInput')._jeeDialog.close()
								setDisplayValue_#uid#(value)
								jeedom.cmd.execute({id: #id#, value: {slider: value}})
							}
						}
					}
				},
			})
		}
	</script>
</div>
<!--
vim: tabstop=2 autoindent
-->
