<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="j_h_m" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" >
	<center>
		<div class="title #hide_name#">#name_display#:
			<a class="execute" data-rel="popup" href="#popup_#uid#" >#state#</a
			>
		</div>
	</center>
	<template></template>
	<script>
	
		document.querySelector('.cmd[data-cmd_uid=#uid#] .execute').addEventListener('click', function(even) {
			cmd = document.querySelector('.cmd[data-cmd_uid=#uid#]')
	    inputModal_#uid#(cmd)
		})
	
		function setDisplayValue_#uid#(value) {
			let cmd = document.querySelector('.cmd[data-cmd_uid=#uid#]')
			let txt = ""
			let heures = Math.trunc(value / 60)
			let minutes = value % 60
			let jours = Math.trunc(heures / 24)
			heures = heures % 24
			if (jours == 0 && heures == 0) {
				txt = minutes + " min."
			} else {
				txt = minutes
				if (minutes < 10) {
					txt = '0' + txt
				}
				txt = heures + ":" + txt
				if (jours > 0) {
					if (heures < 10) {
						txt = '0' + txt
					}
					txt = jours + '{{j}} ' + txt
				}
			}
			cmd.querySelector('a.execute').innerText = txt
			cmd.querySelector('a.execute').dataset.value = value
		}
		setDisplayValue_#uid#(#state#)
	
		function inputModal_#uid#() {
			jeedomUtils.loadModal("index.php?v=m&plugin=devolo_cpl&modal=cmd.action.slider.j_h_m",function() {
				setTimeout(function() {
					let popup = document.getElementById('div_popup-popup')
					popup.style.position = 'fixed'
					popup.style.transform = 'translate(-50%,100px)'
				}, 200)
				let cmd = document.querySelector('.cmd[data-cmd_uid=#uid#]')
				let value = cmd.querySelector('a.execute').dataset.value
				devolo_cplActionJHM_modal.init(function(value) {
					setDisplayValue_#uid#(value)
					jeedom.cmd.execute({id: #id#, value:{slider: value}})
				})
				devolo_cplActionJHM_modal.setValue(value)
			})
	  }
	</script>
</div>
<!--
vim: tabstop=2 autoindent
-->

