<span class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="j_h_m" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#" >
	<span class="ui-bar ui-bar-a state label-info"></span>
	<script>
		jeedom.cmd.addUpdateFunction("#id#", function (_options) {
			if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
				let txt = ''

				if (_options.value < 60) {
					if (_options.value > 1) {
						txt = _options.value + ' #minutes#'
					} else {
						txt = _options.value + ' #minute#'
					}
				} else {
					let jours = Math.trunc(_options.value / (24*60))
					let value = _options.value % (24*60)
					let heures = Math.trunc(value / 60)
					let minutes = value % 60

					if (jours > 0) {
						if ((heures == 0) || (minutes == 0)){
							if (jours > 1) {
								txt = jours + ' #jours#'
							} else {
								txt = jours + ' #jour#'
							}
						} else {
							txt = jours + '#jour#'.substring(0,1) + '. '
						}
					}
					if (minutes == 0) {
						if (heures > 1) {
							txt += heures + ' #heures#'
						} else if (heures == 1) {
							txt += heures + ' #heure#'
						}
					} else {
						if (heures > 0) {
							if (heures < 10) {
								txt += '0'
							}
							txt += heures + ':'
							if (minutes < 10)  {
								txt += '0'
							}
							txt += minutes
						} else {
							if (jours > 0) {
								txt += minutes + ' #minutes#'.substring(0,4) + '.'
							} else {
								if (minutes > 1) {
									txt += minutes + ' #minutes#'
								} else {
									txt += minutes + ' #minute#'
								}
							}
						}
					}

				}

				document.querySelector('.cmd[data-cmd_id="#id#"] .state').innerText = txt
			}
		});
		jeedom.cmd.refreshValue([{ cmd_id: "#id#", value: "#value#" }]);
	</script>
</span>
<!--
vim: tabstop=2 autoindent
-->

