div.cursor span.fa-stack {
    margin-bottom: 20px;
}

select.cmdAttr.form-control.warning {
    color: var(--sc-lightTxt-color) !important;
    background-color: var(--al-warning-color) !important;
    font-weight: 700 !important;
}
